---
import Section from "../components/Section.astro";
interface Props {
  title: string;
  desc: string;
}

const { title, desc } = Astro.props;
import Navigation from "../components/Navigation.astro";
import { ViewTransitions } from "astro:transitions";
import ContentFooter from "../components/ContentFooter.astro";
import BottomLine from "../components/BottomLine.astro";
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={desc} />

    {/* Open Graph Facebook  */}
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={desc} />

    {/* Twitter */}
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={desc} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="h-full w-full bg-l/bg p-4 antialiased dark:bg-d/bg md:p-0">
    <div
      class="m-auto flex min-h-screen w-full max-w-xl flex-col items-start justify-center gap-8"
    >
      <Navigation />
      <main class="mb-4 space-y-4">
        <slot />
      </main>
      <!--<ContentFooter />-->
      <BottomLine />
    </div>
  </body>
</html>
