---
import SocialShare from "../components/socialShare/SocialShare.astro";
interface Props {
  title: string;
  desc: string;
}

const { title, desc } = Astro.props;
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
import BottomLine from "../components/BottomLine.astro";
---

<!doctype html>
<html lang="fr" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon/favicon.ico" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={desc} />

    {/* Open Graph Facebook  */}
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={desc} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:site_name" content="MarvinL.com" />

    {/* Twitter */}
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:site" content={Astro.url} />
    <meta property="twitter:description" content={desc} />

    <title>{title}</title>
    <ViewTransitions />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "MarvinL.com",
        "image": "",
        "@id": "https://www.marvinl.com",
        "url": "https://www.marvinl.com",
        "telephone": "",
        "priceRange": "520-",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "",
          "addressLocality": "Petit-Bourg",
          "postalCode": "97170",
          "addressCountry": "GP"
        },
        "sameAs": [
          "https://facebook.com/marvinldotcom",
          "https://twitter.com/macojaune",
          "https://instagram.com/macojaune",
          "https://youtube.com/@macojaune",
          "https://www.linkedin.com/in/marvinlondinfer/",
          "https://www.marvinl.com"
        ]
      }
    </script>
<script defer src="https://cloud.umami.is/script.js" data-website-id="e3f35488-7747-451e-8e8c-b2681c905ae5"></script>
   
  </head>
  <body class="h-full w-full bg-l/bg p-4 antialiased dark:bg-d/bg md:p-0">
    <div
      class="m-auto flex min-h-screen w-full max-w-xl flex-col items-start justify-center gap-8"
    >
      <Navigation />
      <main class="space-y-4">
        <slot />
      </main>
      <Footer />
      <BottomLine />
    </div>
    <script>
      window.axeptioSettings = {
        clientId: "65cb08d7c71bfd77d142e82d",
      };
      window._axcb = window._axcb || [];
      window._mtm = window._mtm || [];
      window._axcb.push(function (sdk) {
        sdk.on("cookies:complete", function (choices) {
          let axeptio_Matomo = [];
          for (let vendor in choices) {
            if (vendor != "$$completed" && choices[vendor] == true) {
              _mtm.push({ event: `axeptio_activate_${vendor}` });
              axeptio_Matomo.push(vendor);
            }
          }
          _mtm.push({ axeptio_Matomo: axeptio_Matomo });
        });
      });
      (function (d, s) {
        var t = d.getElementsByTagName(s)[0],
          e = d.createElement(s);
        e.async = true;
        e.src = "//static.axept.io/sdk.js";
        t.parentNode.insertBefore(e, t);
      })(document, "script");
    </script>
  </body>
</html>
