---
import { getCollection } from "astro:content";
import List from "../../components/List.astro";
import ListItem from "../../components/ListItem.astro";
import SectionTitle from "../../components/SectionTitle.astro";
import Section from "../../components/Section.astro";
import ContentLayout from "../../layouts/ContentLayout.astro";
import { persona } from "../../persona";
import ContentFooter from "../../components/ContentFooter.astro";
const clientProjects = await getCollection("project", ({ data }) => {
  if (data.isClient === true)
    return import.meta.env.PROD ? data.isDraft !== true : true;
});
const myProjects = await getCollection("project", ({ data }) => {
  if (data.isClient === false)
    return import.meta.env.PROD ? data.isDraft !== true : true;
});
---

<ContentLayout title="Mes projets − MarvinL.com" desc={persona.seo.projectDesc}>
  <Section>
    <SectionTitle title="Projets Clients" />
    <List>
      {
        clientProjects.map((cp) => (
          <ListItem
            title={cp.data.title}
            desc={cp.data.description}
            date={cp.data.createdAt}
            url={`/projets/${cp.slug}`}
          />
        ))
      }
    </List>
  </Section>
  <Section>
    <SectionTitle title="Mes projets" />
    <List>
      {
        myProjects.map((cp) => (
          <ListItem
            title={cp.data.title}
            desc={cp.data.description}
            date={cp.data.createdAt}
            url={`/projets/${cp.slug}`}
          />
        ))
      }
    </List>
  </Section>
  <ContentFooter isRoot />
</ContentLayout>
